<form [formGroup]="taskForm" class="space-y-5 bg-white w-full"  (ngSubmit)="onSubmit()">
  <div>
    <label class="block mb-2 font-medium">
      Create Task
    </label>

    <input
      type="text"
      formControlName="title"
      class="w-full border border-gray-300 rounded-lg px-4 py-2"
      placeholder="Enter task title"
    />

    @if (
      taskForm.controls.title.touched &&
      taskForm.controls.title.invalid
    ) {
      <p class="text-red-500 text-sm mt-1">
        Title is required.
      </p>
    }
  </div>

  <!-- STATUS -->
  <div>
    <label class="block mb-2 font-medium">
      Status
    </label>

    <input
      type="text"
      formControlName="status"
      class="w-full border border-gray-300 rounded-lg px-4 py-2 bg-gray-100 text-gray-500"
    />
  </div>

  <!-- DESCRIPTION -->
  <div>
    <label class="block mb-2 font-medium">
      Description
    </label>

    <textarea
      formControlName="description"
      rows="4"
      class="w-full border border-gray-300 rounded-lg px-4 py-2"
      placeholder="Optional description"
    ></textarea>
  </div>

  <!-- DUE DATE -->
  <div>
    <label class="block mb-2 font-medium">
      Due Date & Time
    </label>

    <input
      type="datetime-local"
      formControlName="due_datetime"
      class="w-full border border-gray-300 rounded-lg px-4 py-2"
    />

    @if (
      taskForm.controls.due_datetime.touched &&
      taskForm.controls.due_datetime.invalid
    ) {
      <p class="text-red-500 text-sm mt-1">
        Due date is required.
      </p>
    }
  </div>

  <!-- BUTTONS -->
  <div class="flex justify-end gap-3">

    <button
      type="button"
      class="px-4 py-2 border border-gray-300 rounded-lg"
      (click)="closeDialog()"
    >
      Cancel
    </button>

    <button
      type="submit"
      [disabled]="taskForm.invalid"
      class="bg-blue-600 text-white px-4 py-2 rounded-lg disabled:bg-gray-400"
    >
      Create Task
    </button>

  </div>

</form>